@font-face {
    font-family: "LogoFonte";
    src: url(https://github.com/mattheus-pinho/sistema/blob/master/public/fontes/Chronosfer-Demo.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
  }